/* 
 * Story一覧
 */

.story .story-badges .story-badge.story-id {
  display: none;
}

.story .story-badges .tag {
  color: black;
  background: aliceblue;
  font-weight: bold;
}

/* 
 * コメント
 */

.comment .inline-mention {
  color: #0079bf;
}

.comment .text {
  background-color: white;
  margin: 6px 0;
  padding: 2px 12px;
  box-shadow: 0 1px 2px -1px rgba(9, 30, 66, 0.25),
    0 0 0 1px rgba(9, 30, 66, 0.08);
}

.notifications .comment.markdown-formatted a,
.comment .text a,
.description-container a {
  color: inherit;
  font-weight: normal;
  text-decoration: underline;
}

.story .story-details .section-head {
  font-size: 17px;
  line-height: 17px;
  margin: 35px 0 8px;
}

/* 
 * ディスクリプション
 */

.description-container {
  margin: 30px 20px 40px;
}

/* 
 * Tasks
 */

.story div[data-type="task"] .section-head .counter:after {
  content: "完了済みのタスクを表示/非表示";
  display: inline-block;
  color: #172b4d;
  background-color: rgba(9, 30, 66, 0.04);
  padding: 6px 12px;
  margin-left: 30px;
  border-radius: 3px;
  font-size: 12px;
  cursor: pointer;
}

.tasks .task {
  padding: 5px 0;
  border-bottom: none;
}

.tasks .task .task-description .markdown-formatted p {
  font-size: 14px;
}

/* 完了タスク、初期値は非表示（表示時はflex） */
.tasks .task.completed-task {
  display: none;
}

.tasks .task.completed-task.show {
  display: flex;
}

/* 
 * Pull Request
 */

.story .story-details .pull-title-container .pull-link {
  font-size: 16px;
  line-height: 32px;
}
